/Library/
/Temp/
/Logs/
/obj/
/Builds/
/UserSettings/
/MemoryCaptures/
/Recordings/
/.utmp/
/.claude/
/.vs/
.vsconfig
**/Temp/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.unityproj
*.apk
*.aab
*BurstDebugInformation_DoNotShip/
*BackUpThisFolder_ButDontShipItWithYourGame/
crashdump.*
